.notes-manager{
    display: flex;
    justify-content: space-evenly;
}

.add-note-btn{
    background-color: steelblue;
    margin-bottom: 5px;
}

.get-note-btn{
    background-color: steelblue;
    margin-left: 5px;
}